<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>06-Servlet-Tags</display-name>
  
  <servlet>
  	<servlet-name>Hyphen</servlet-name>
  	<jsp-file>/filename.jsp</jsp-file>
  	
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>Hyphen Call - any name or anything</param-value>
  	</init-param>
  </servlet>
  
  <context-param>
  	<param-name>username1</param-name>
  	<param-value>Any name or anything</param-value>
  </context-param>  
  
  <servlet-mapping>
  	<servlet-name>Hyphen</servlet-name>
  	<url-pattern>/url-in-form-action</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>